<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SolSoft.SleepControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SolSoft.SleepControl.Properties.Settings>
            <setting name="IsAwayModeSleepOverrideActivated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsIdleOverrideActivated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepDisplayOn" serializeAs="String">
                <value>False</value>
            </setting>
        </SolSoft.SleepControl.Properties.Settings>
    </userSettings>
</configuration>